<?xml version='1.0' encoding='utf-8'?>
<widget id="com.luca.pressApp" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>PressApp</name>
    <description>
        An Apache Cordova application for PRESS.
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Apache Cordova Team
    </author>
    <content src="index.html" />
	<access origin="*"/>
    
    <preference name="orientation" value="portrait" />

	<icon src="default.png" />

</widget>
